@import '../mixins.scss' ;
#admin-panel{
    background-color: white ;
    min-height : 100vh ;
    padding : 0px 10px ;
    padding-top : 100px ;
    .container-box{
        width : 100%;
        overflow: auto ;
        table{
            width : 100% ;
            @include lg{
                width : 1200px ;
            }
        }
    }
    h1{
        text-align: center ;
    }
}